{% extends 'base.html.twig' %}

{% block body %}
	<div class="container edit-courses">
		<div class="col-md-12 mx-auto">
			<div class="card">
				<div class="card-body">
					<h1 class="mb-4">Modifier le cours</h1>
					{{ form_start(form) }}

					<div class="row mb-3">
						<div class="col-md-6">
							<div class="form-group mb-3">
								{{ form_label(form.name, 'Nom du cours', {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom du cours'}}) }}
								{{ form_errors(form.name) }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group mb-3">
								{{ form_label(form.capacity, 'Capacité', {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.capacity, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la capacité'}}) }}
								{{ form_errors(form.capacity) }}
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-md-6">
							<div class="form-group mb-3">
								{{ form_label(form.startTime, 'Heure de début', {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.startTime, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez l\'heure de début'}}) }}
                                {{ form_errors(form.startTime) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form_label(form.endTime, 'Heure de fin', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.endTime, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez l\'heure de fin'}}) }}
								{{ form_errors(form.endTime) }}
							</div>
						</div>
					</div>

					<div class="mb-3">
						<div class="form-check form-switch">
							{{ form_widget(form.isRecurrent, {'attr': {'class': 'form-check-input'}}) }}
							{{ form_label(form.isRecurrent, 'Ce cours est-il récurrent ?', {'label_attr': {'class': 'form-check-label'}}) }}
							{{ form_errors(form.isRecurrent) }}
						</div>
					</div>

					{# Ajout de la case à cocher pour modifier tous les cours récurrents #}
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" id="modify_all_occurrences" name="modify_all_occurrences">
						<label class="form-check-label" for="modify_all_occurrences">Modifier tous les cours récurrents</label>
					</div>

					{# Champs cachés pour transmettre l'année et la semaine sélectionnées dans le formulaire #}
					<input type="hidden" name="year" value="{{ currentYear }}">
					<input type="hidden" name="week" value="{{ currentWeek }}">

					
					{{ form_end(form) }}
					<div class="d-flex justify-content-end">
						<a href="{{ path('app_calendar') }}" class="btn complet me-2 mt-3">Annuler</a>
						<button type="submit" class="btn btn-general mt-3">Enregistrer les modifications</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
const form = document.querySelector('form');
form.addEventListener('submit', function (e) {
const startTime = new Date(document.querySelector('#course_startTime').value);
const endTime = new Date(document.querySelector('#course_endTime').value);

if (endTime <= startTime) {
e.preventDefault();
alert('L\'heure de fin doit être après l\'heure de début.');
}
});
});
	</script>
{% endblock %}
