{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-3">
		<div class="col-md-9 mx-auto">
			<div class="card">
				<div class="card-body">
					<h1 class="mb-1">Forfaits</h1>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('plan_new') }}" class="btn reserve-btn mb-3">Ajouter un nouveau forfait</a>
					{% endif %}
					<div class="list-group content-scrollable">
						{% set paymentModes = {1: 'Paiement comptant', 2: 'Paiement en 2 fois', 3: 'Paiement en 3 fois', 10: 'Paiement en 10 fois'} %}
						{% for plan in plans %}
							<div class="list-group-item mb-3">
								<h5 class="mb-1">{{ plan.name }}</h5>
								<p class="mb-1">
									Type de forfait :
									{{ plan.type }}
									<br>
									Type d'abonnement :
									{{ plan.subscriptionType }}
									<br>
									Date de début :
									{{ plan.startDate|date('d/m/Y') }}
									<br>
									Date de fin :
									{{ plan.endDate|date('d/m/Y') }}
									<br>
									Récurrent :
									{{ plan.isRecurring ? 'Oui' : 'Non' }}
									<br>
									ID du produit Stripe :
									{{ plan.stripeProductId }}
									<br>
									ID du prix Stripe :
									{{ plan.stripePriceId }}
								</p>
								<h6 class="mt-3">Cours inclus :</h6>
								<ul class="list-group mb-3">
									{% for planCourse in plan.planCourses %}
										<li class="list-group-item">
											{{ planCourse.course.name }}
											-
											{{ planCourse.credits }}
											crédits
										</li>
									{% endfor %}
								</ul>
								<a href="{{ path('plan_edit', {'id': plan.id}) }}" class="btn update btn-sm mt-0">Modifier</a>
								<a href="{{ path('plan_delete', {'id': plan.id}) }}" class="btn complet btn-sm">Supprimer</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
