{# templates/booking/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réserver le cours: {{ course.name }}</h1>

    <p>Date: {{ course.startTime|date('d/m/Y H:i') }} - {{ course.endTime|date('H:i') }}</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Confirmer la réservation</button>
    {{ form_end(form) }}
{% endblock %}
