{% extends 'base.html.twig' %}

{% block body %}
	<div class="container list-cours">
		<h1>Liste des activités</h1>
		<div class="row">
			{% for course in courseDetails %}
				<div class="col-md-4 mb-3">
					<div class="card">
						{% if course.photo %}
							<img src="{{ asset('uploads/photos/' ~ course.photo) }}" class="card-img-top" alt="{{ course.name }}">
						{% endif %}
						<div class="card-body">
							<h2 class="card-title text-center">{{ course.name }}</h2>
							{# <p class="card-text">{{ course.description }}</p> #}
							<div class="mx-auto text-center mt-5">
								<a href="{{ path('course_details_show', {'id': course.id}) }}" class="btn reserve-btn btn-sm">Découvrir</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ path('course_details_edit', {'id': course.id}) }}" class="btn update btn-sm">Modifier</a>
									<a href="{{ path('course_details_delete', {'id': course.id}) }}" class="btn complet btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce cours ?');">Supprimer</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<p class="aucun-dispo">Aucun cours disponible pour le moment.</p>
			{% endfor %}
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('course_details_new') }}" class="btn btn-general mb-3">Ajouter une activité</a>
	{% endif %}
{% endblock %}
