{% extends 'base.html.twig' %}

{% block title %}Détails du Cours
{% endblock %}

{% block body %}
	<div class="container show-details-cours">
		<h1 class="text-center mb-5">{{ courseDetails.name }}</h1>
		<div class="details-cours">
			<div class="text-details-cours">
				<p class="lead">
					<strong>
						{{ courseDetails.name }}
						- Les Bienfaits :</strong>
				</p>
				<p></p>
				<p>{{ courseDetails.description|raw }}</p>
			</p>
			<p>{{ courseDetails.benefits|raw }}</p>
		</div>
		<div class="photobenefits">
			{% if courseDetails.photobenefits %}
				<img src="{{ asset('uploads/photos/' ~ courseDetails.photobenefits) }}" alt="{{ courseDetails.name }}" class="img-fluid rounded shadow mb-3">
			{% endif %}
		</div>
	</div>
	{% if is_granted('ROLE_USER') %}
		<div class="card shadow-sm p-4 mt-5">
			<h3 id="leaveReview" class="mb-4 text-center">Laisser un avis</h3>
			<div class="form-group mb-4">
				{{ form_start(reviewForm, {'attr': {'class': 'needs-validation'}}) }}

				<!-- Note -->
				<div class="form-group mb-4">
					{{ form_label(reviewForm.rating, 'Note (sur 5)', {'label_attr': {'class': 'form-label fw-bold'}}) }}
					<div class="input-group">
						<span class="input-group-text bg-light border-0">
							<i class="fas fa-star text-warning"></i>
						</span>
						{{ form_widget(reviewForm.rating, {'attr': {'class': 'form-control shadow-sm border-0 rounded-3'}}) }}
					</div>
				</div>

				<!-- Commentaire -->
				<div class="form-group mb-4">
					{{ form_label(reviewForm.comment, 'Votre commentaire', {'label_attr': {'class': 'form-label fw-bold'}}) }}
					<div class="position-relative">
						{{ form_widget(reviewForm.comment, {'attr': {'class': 'form-control rounded-3 shadow-sm border-0', 'placeholder': 'Partagez votre expérience...'}}) }}
						<i class="fas fa-comment-dots position-absolute text-muted" style="top: 10px; right: 10px;"></i>
					</div>
				</div>

				<!-- Bouton d'envoi -->
				<button type="submit" class="btn btn-general w-100 py-2 fw-bold">
					Envoyer
					<i class="fas fa-paper-plane"></i>
				</button>

				{{ form_end(reviewForm) }}
			</div>
		</div>
	{% endif %}
</div>{% endblock %}
