{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<h1>Créer un nouveau Client</h1>

		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.firstName) }}
			{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.lastName) }}
			{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.phoneNumber) }}
			{{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.notes) }}
			{{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.roles) }}
			{{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.plainPassword) }}
			{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
		</div>
		<button type="submit" class="btn btn-primary">Créer le client</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
