{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
	<div class="container planning">
		<h1>Planning</h1>

		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('planning_edit') }}" class="btn btn-primary mb-3">Ajouter une session</a>
		{% endif %}

		<div class="row">
			<div class="col-md-8">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Horaires</th>
							<th>Lundi</th>
							<th>Mardi</th>
							<th>Mercredi</th>
							<th>Jeudi</th>
							<th>Vendredi</th>
						</tr>
					</thead>
					<tbody>
						{% set weekday_timeslots = [
							'14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', 
							'19:00', '19:15', '19:30', '19:45', '20:00', '20:15', '20:30'
						] %}

						{% set merged_slots = {} %}

						{% for timeslot in weekday_timeslots %}
							<tr>
								{% set interval = (timeslot >= '19:00') ? 15 : 30 %}
								<td>{{ timeslot }} - {{ timeslot|date_modify('+' ~ interval ~ ' minutes')|date('H:i') }}</td>
								{% for dow in ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi'] %}
									{% set key = dow ~ '-' ~ timeslot %}
									{% if merged_slots[key] is not defined %}
										{% set course_found = false %}
										{% for schedule in schedules %}
											{% set start_time = schedule.startTime|date('H:i') %}
											{% set end_time = schedule.endTime|date('H:i') %}
											{% set start_slot = timeslot %}
											{% set duration = (schedule.endTime|date('U') - schedule.startTime|date('U')) // (interval * 60) %}
											{% set slots_covered = duration - 1 %}

											{% if schedule.day == dow and start_time == start_slot %}
												{% set class_name = '' %}
												{% if schedule.courseName == 'Yoga Aérien' %}
													{% set class_name = 'bg-yoga-aerien' %}
												{% elseif schedule.courseName == 'Pole Dance' %}
													{% set class_name = 'bg-pole-dance' %}
												{% elseif schedule.courseName == 'Hammock' %}
													{% set class_name = 'bg-hammock' %}
												{% elseif schedule.courseName == 'Souplesse' %}
													{% set class_name = 'bg-souplesse' %}
												{% elseif schedule.courseName == 'Cours à la demande' %}
													{% set class_name = 'bg-cours-demande' %}
												{% endif %}
												<td class="{{ class_name }}" rowspan="{{ duration }}">
													{{ schedule.courseName }}
													<br>
													({{ schedule.startTime|date('H:i') }} - {{ schedule.endTime|date('H:i') }})
													{% if is_granted('ROLE_ADMIN') %}
														<br>
														<a href="{{ path('planning_edit', {id: schedule.id}) }}" class="btn btn-secondary btn-sm mt-1">Modifier</a>
														<a href="{{ path('planning_delete', {id: schedule.id}) }}" class="btn btn-danger btn-sm mt-1" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette session ?');">Supprimer</a>
													{% endif %}
												</td>
												{% set course_found = true %}
												{% for i in 0..slots_covered %}
													{% set merged_key = dow ~ '-' ~ (timeslot|date_modify('+' ~ (i * interval) ~ ' minutes')|date('H:i')) %}
													{% set merged_slots = merged_slots|merge({ (merged_key): true }) %}
												{% endfor %}
											{% endif %}
										{% endfor %}
										{% if not course_found %}
											<td>&nbsp;</td>
										{% endif %}
									{% endif %}
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="col-md-4">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Horaires</th>
							<th>Samedi</th>
						</tr>
					</thead>
					<tbody>
						{% set saturday_timeslots = [
							'09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00'
						] %}

						{% for timeslot in saturday_timeslots %}
							<tr>
								<td>{{ timeslot }} - {{ timeslot|date_modify('+30 minutes')|date('H:i') }}</td>
								{% set key = 'Samedi-' ~ timeslot %}
								{% if merged_slots[key] is not defined %}
									{% set course_found = false %}
									{% for schedule in schedules %}
										{% set start_time = schedule.startTime|date('H:i') %}
										{% set end_time = schedule.endTime|date('H:i') %}
										{% set start_slot = timeslot %}
										{% set duration = (schedule.endTime|date('U') - schedule.startTime|date('U')) // 1800 %}
										{% set slots_covered = duration - 1 %}

										{% if schedule.day == 'Samedi' and start_time == start_slot %}
											{% set class_name = '' %}
											{% if schedule.courseName == 'Yoga Aérien' %}
												{% set class_name = 'bg-yoga-aerien' %}
											{% elseif schedule.courseName == 'Pole Dance' %}
												{% set class_name = 'bg-pole-dance' %}
											{% elseif schedule.courseName == 'Hammock' %}
												{% set class_name = 'bg-hammock' %}
											{% elseif schedule.courseName == 'Souplesse' %}
												{% set class_name = 'bg-souplesse' %}
											{% elseif schedule.courseName == 'Cours à la demande' %}
												{% set class_name = 'bg-cours-demande' %}
											{% endif %}
											<td class="{{ class_name }}" rowspan="{{ duration }}">
												{{ schedule.courseName }}
												<br>
												({{ schedule.startTime|date('H:i') }} - {{ schedule.endTime|date('H:i') }})
												{% if is_granted('ROLE_ADMIN') %}
													<br>
													<a href="{{ path('planning_edit', {id: schedule.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
													<a href="{{ path('planning_delete', {id: schedule.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette session ?');">Supprimer</a>
												{% endif %}
											</td>
											{% set course_found = true %}
											{% for i in 0..slots_covered %}
												{% set merged_key = 'Samedi-' ~ (timeslot|date_modify('+' ~ (i * 30) ~ ' minutes')|date('H:i')) %}
												{% set merged_slots = merged_slots|merge({ (merged_key): true }) %}
											{% endfor %}
										{% endif %}
									{% endfor %}
									{% if not course_found %}
										<td>&nbsp;</td>
									{% endif %}
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
