{% extends 'base.html.twig' %}

{% block title %}Ajouter un Coach
{% endblock %}

{% block body %}
	<div class="container new-coach">
		<h1>Ajouter un Coach</h1>

		{{ form_start(form) }}
		<div class="form-group">
			<div class="form-group">
				{{ form_label(form.photo) }}
				{{ form_widget(form.photo, {'attr': {'class': 'form-control-file'}}) }}
			</div>
			{{ form_label(form.name) }}
			{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.presentation) }}
			{{ form_widget(form.presentation, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.second_description) }}
			{{ form_widget(form.second_description, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.third_description) }}
			{{ form_widget(form.third_description, {'attr': {'class': 'form-control'}}) }}
		</div>
		<button type="submit" class="btn btn-general mt-3 mb-3">Enregistrer</button>
		<a href="{{ path('coach_list') }}" class="btn complet mt-3 mb-3">Annuler</a>
		{{ form_end(form) }}

	</div>
{% endblock %}
