{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="card shadow-sm">
			<h1>Sélectionner votre forfait</h1>
			<div class="card-body">

				{{ form_start(form) }}

				<div class="form-group">
					{{ form_label(form.type, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
				</div>

				{% if form.plan is defined %}
					<div class="form-group">
						{{ form_label(form.plan, null, {'label_attr': {'class': 'form-label'}}) }}
						{{ form_widget(form.plan, {'attr': {'class': 'form-control'}}) }}
					</div>
				{% endif %}

				<div class="form-group">
					{{ form_label(form.promoCode, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(form.promoCode, {'attr': {'class': 'form-control'}}) }}
				</div>

				{{ form_rest(form) }}

				<button type="submit" class="btn btn-general mt-2">Réserver et payer</button>
				{{ form_end(form) }}

				{% if is_granted('ROLE_ADMIN') %}
					<div class="mt-3">
						<a href="{{ path('plan_new') }}" class="btn reserve-btn">Ajouter un nouveau forfait</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
