{% extends 'base.html.twig' %}

{% block body %}
	<h1>Sélectionner votre forfait</h1>

	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.plan) }}
		{{ form_widget(form.plan) }}
	</div>

	<div class="form-group">
		{{ form_label(form.promoCode) }}
		{{ form_widget(form.promoCode, {'attr': {'class': 'form-control'}}) }}
	</div>
	{{ form_rest(form) }}
	<button type="submit" class="btn btn-primary">Réserver et payer</button>
	{{ form_end(form) }}
	<a href="{{ path('plan_new') }}">Ajouter un nouveau forfait</a>
{% endblock %}
