{% extends 'base.html.twig' %}

{% block body %}
<h1>Mes Forfaits</h1>

{% if subscriptions is defined and subscriptions|length > 0 %}
    {% for subscription in subscriptions %}
        <h2>
            {% if subscription.forfait starts with 'pole_' %}
                Pole Dance
            {% elseif subscription.forfait starts with 'souplesse_' %}
                Souplesse ou Renfo
            {% else %}
                {{ subscription.forfait }}
            {% endif %}
        </h2>
        <p>Nombre de cours restants: {{ subscription.remainingCourses }}</p>
        <p>Date d'expiration: {{ subscription.expiryDate|date('d-m-Y') }}</p>
        <p>Mode de paiement: {{ subscription.paymentMode }}</p>
    {% endfor %}
{% else %}
    <p>Vous n'avez pas de forfait actif.</p>
{% endif %}

<!-- Formulaire pour choisir le type de forfait -->
<h2>Choisissez un forfait à acheter :</h2>
<form action="{{ path('subscription_new') }}" method="get">
    <div class="form-group">
        <label for="courseId">Type de cours :</label>
        <select name="courseId" id="courseId" class="form-control">
            <option value="1">Pole Dance</option>
            <option value="2">Souplesse ou Renfo</option>
            <!-- Ajoutez d'autres options de cours ici si nécessaire -->
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Acheter plus de cours</button>
</form>

<br>
<a href="{{ path('app_calendar') }}">Réserver</a>
{% endblock %}
