{% extends 'base.html.twig' %}

{% block body %}
	<div class="container subscription">
		<h1>Mes Forfaits</h1>
		<div class="list-group">
			{% set allSubscriptionsEmpty = true %}
			{% for subscription in subscriptions %}
				{% set hasCredits = false %}
				{% set isExpired = subscription.expiryDate < date() %}
				{% set isNotStarted = subscription.startDate > date() %}

				{% for subscriptionCourse in subscription.subscriptionCourses %}
					{% if subscriptionCourse.remainingCredits > 0 %}
						{% set hasCredits = true %}
						{% set allSubscriptionsEmpty = false %}
					{% endif %}
				{% endfor %}

				{# Si la souscription a des crédits restants, on l'affiche #}
				{% if hasCredits %}
					<div class="list-group-item">
						{% if subscription.plan is not null %}
							{{ subscription.plan.name }}
						{% else %}
							
						{% endif %}
						<ul class="list-unstyled">
							{% for subscriptionCourse in subscription.subscriptionCourses %}
								{% if subscriptionCourse.remainingCredits > 0 %}
									<li>
										{{ subscriptionCourse.course.name }}
										-
										{{ subscriptionCourse.remainingCredits }}
										crédits
									</li>
								{% endif %}
							{% endfor %}
						</ul>
						<p class="mb-1">Date de commencement :
							{{ subscription.startDate|date('d-m-Y') }}</p>
						<p class="mb-1">Date d'expiration :
							{{ subscription.expiryDate|date('d-m-Y') }}</p>
						<p class="mb-1">Mode de paiement :
							{{ subscription.paymentMode }}</p>

						{% if isExpired %}
							<p class="text-danger">Ce forfait a expiré.</p>
						{% elseif isNotStarted %}
							<p class="text-warning">Ce forfait vous permet de réserver des cours à partir du
								{{ subscription.startDate|date('d-m-Y') }}
								et jusqu'au
								{{ subscription.expiryDate|date('d-m-Y') }}.</p>
						{% else %}
							<p class="text-success">Vous avez des crédits restants pour ce forfait.</p>
						{% endif %}
						<a href="{{ path('calendar') }}" class="btn btn-general btn-sm">Réserver</a>
					</div>
				{% endif %}
			{% endfor %}

			{% if allSubscriptionsEmpty %}
				<div class="alert alert-warning mt-3" role="alert">
					Vous n'avez aucun crédit restant sur vos forfaits.
				</div>
			{% endif %}
		</div>
		<a href="{{ path('subscription_new') }}" class="btn reserve-btn btn-sm mt-2">Acheter un nouveau forfait</a>
	</div>
{% endblock %}
